<th:block th:fragment="sidebar">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link active" th:href="@{/admin}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                    <a class="nav-link" th:href="@{/admin/blogs}">
                        <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
                        Blogs
                    </a>

                    <a class="nav-link" th:href="@{/admin/banners}">
                        <div class="sb-nav-link-icon"><i class="fas fa-image"></i></div>
                        Banners
                    </a>
                    <a class="nav-link" th:href="@{/admin/categories}">
                        <div class="sb-nav-link-icon"><i class="fas fa-image"></i></div>
                        Categories
                    </a>

                    <a class="nav-link" th:href="@{/admin/users}">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Users
                    </a>

                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSecurity" aria-expanded="false" aria-controls="collapseSecurity">
                        <div class="sb-nav-link-icon"><i class="fas fa-shield-alt"></i></div>
                        Security
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseSecurity" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link sub_nav_link" th:href="@{/admin/roles}">Roles</a>
                            <a class="nav-link sub_nav_link" th:href="@{/admin/permissions}">Permissions</a>
                        </nav>
                    </div>

                    <a class="nav-link" th:href="@{/admin/faqs}">
                        <div class="sb-nav-link-icon"><i class="fas fa-question-circle"></i></div>
                        FAQs
                    </a>

                    <a class="nav-link" href="orders.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-cart-arrow-down"></i></div>
                        Orders
                    </a>
                    <a class="nav-link" href="pages.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                    </a>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
                        <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                        Setting
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseSettings" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link sub_nav_link" href="general_setting.html">General Settings</a>
                            <a class="nav-link sub_nav_link" href="payment_setting.html">Payment Settings</a>
                            <a class="nav-link sub_nav_link" href="email_setting.html">Email Settings</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</th:block>