    <div th:fragment="contentMain" class="wrapper">
        <div class="section145">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                                <span>Shop By</span>
                                <h2>Categories</h2>
                    </div>
                    <div class="col-md-6">
                        <form th:action="@{/home/categoryId}" method="Get">
                        <select name="categoryId">
                            <option value="0">--  --</option>
                            <option value="0">-- All --</option>
                            <option th:each="cat : ${categories}"
                                    th:value="${cat.categoryId}"
                                    th:text="${cat.name}">
                            </option>
                        </select>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section145">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title-tt">
                            <div class="main-title-left">
                                <h2>Products</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3" th:each="product : ${products}">
                                <div class="product-item">
                                    <a th:href="@{/home/productdetail}" class="product-img">
                                        <img th:src="${#lists.isEmpty(product.productImages) ? '/homePage/images/product/big-1.jpg' : product.productImages}" alt="">
                                    </a>
                                    <div class="product-text-dt">
                                        <h4 th:text="${product.name}"></h4>
                                        <div class="product-price" th:text="'$' + ${product.price}"></div>
<!--                                        <div class="qty-cart">-->
<!--                                            <div class="quantity buttons-added">-->
<!--                                                <input type="button" value="-" class="minus minus-btn">-->
<!--                                                <input type="number" step="1" name="quantity" value="1" class="input-text qty text">-->
<!--                                                <input type="button" value="+" class="plus plus-btn">-->
<!--                                            </div>-->
<!--                                            <span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>-->
<!--                                        </div>-->
                                    </div>
                                    <input type="hidden" name="productId" th:value="${product.productId}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

