<head th:fragment="header">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=9">
        <meta name="description" content="Gambolthemes">
        <meta name="author" content="Gambolthemes">
        <title>Gambo - Index</title>

        <!-- Favicon Icon -->
        <link rel="icon" type="image/png" th:href="@{/homePage/images/fav.png}">

        <!-- Stylesheets -->
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
        <link th:href='@{/homePage/vendor/unicons-2.0.1/css/unicons.css}' rel='stylesheet'>
        <link th:href="@{/homePage/css/style.css}" rel="stylesheet">
        <link th:href="@{/homePage/css/responsive.css}" rel="stylesheet">
        <link th:href="@{/homePage/css/night-mode.css}" rel="stylesheet">

        <!-- Vendor Stylesheets -->
        <link th:href="@{/homePage/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
        <link th:href="@{/homePage/vendor/OwlCarousel/assets/owl.carousel.css}" rel="stylesheet">
        <link th:href="@{/homePage/vendor/OwlCarousel/assets/owl.theme.default.min.css}" rel="stylesheet">
        <link th:href="@{/homePage/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/homePage/vendor/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet">
</head>