<div th:fragment="productdetail" class="wrapper">
    <div class="all-product-grid">
        <div class="container">
            <div class="row">
                <!-- Ảnh sản phẩm -->
                <div class="col-lg-5 col-md-5">
                    <div id="sync1" class="owl-carousel owl-theme">
                        <div class="item">
                            <img th:src="'/homePage/images/product/big-1.jpg'" alt="">
                        </div>
                        <div class="item">
                            <img th:src="'/homePage/images/product/big-1.jpg'" alt=""></div>
                        <div class="item">
                            <img th:src="'/homePage/images/product/big-1.jpg'" alt=""></div>
                        <div class="item">
                            <img th:src="'/homePage/images/product/big-1.jpg'" alt=""></div>
                    </div>
                    <div id="sync2" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="/homePage/images/product/big-1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="/homePage/images/product/big-1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="/homePage/images/product/big-1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="/homePage/images/product/big-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!-- Thông tin sản phẩm -->
                <div class="col-lg-7 col-md-7">
                    <div class="product-dt-right">
                        <h2 th:utext="${detail.name}"></h2>
                        <div class="no-stock">
                            <p class="stock-qty">Số sản phẩm: <span th:utext="${detail.stockQuantity}"></span></p>
                        </div>
                        <p class="pp-descp" th:utext="${detail.description}"></p>
                        <div class="product-group-dt">
                            <ul>
                                <li><div class="main-price">Price<span th:utext="${detail.price}"></span></div></li>
                            </ul>
                            <ul class="gty-wish-share">
                                <li>
                                    <div class="qty-product">
                                        <div class="quantity buttons_added">
                                            <input type="button" value="-" class="minus minus-btn">
                                            <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                                            <input type="button" value="+" class="plus plus-btn">
                                        </div>
                                    </div>
                                </li>
                                <li><span class="like-icon save-icon" title="wishlist"></span></li>
                            </ul>
                            <ul class="ordr-crt-share">
                                <li><button class="add-cart-btn hover-btn"><i class="uil uil-shopping-cart-alt"></i>Add to Cart</button></li>
                                <li><button class="order-btn hover-btn">Order Now</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <!-- Sản phẩm tương tự -->
                <div class="col-lg-12">
                    <div class="pdpt-bg">
                        <div class="pdpt-title">
                            <h4>More Like This</h4>
                        </div>

                        <div class="pdpt-body scrollstyle_4" >
                            <div class="cart-item border_radius" th:each="more : ${moreProduct}">
                                <a th:href="@{/home/productdetail/{id}(id=${more.productId})}" class="cart-product-img">
                                    <img th:src="${1==1 ? '/homePage/images/product/big-1.jpg' : 2}" alt="">
                                    <div class="product-absolute-options">
                                        <span class="like-icon" title="wishlist"></span>
                                    </div>
                                </a>
                                <div class="cart-text">
                                    <h4 th:utext="${more.name}"></h4>
                                    <div class="qty-group">
                                        <div class="quantity buttons_added">
                                            <input type="button" value="-" class="minus minus-btn">
                                            <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                                            <input type="button" value="+" class="plus plus-btn">
                                        </div>
                                        <div class="cart-item-price" th:utext="${more.price}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <!-- description-->
            </div>
        </div>
    </div>
    <!-- Featured Products Start -->
    <div class="section145">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title-tt">
                        <div class="main-title-left">
                            <span>For You</span>
                            <h2>Top Featured Products</h2>
                        </div>
                        <a href="#" class="see-more-btn">See More</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel featured-slider owl-theme">
                        <div class="item" th:each="product : ${featuredProducts}">
                            <div class="product-item">
                                <a th:href="@{/home/productdetail/{id}(id=${product.productId})}" class="product-img">
                                    <img th:src="${#lists.isEmpty(product.productImages) ? '/homePage/images/product/big-1.jpg' : product.productImages.get(0).imageUrl}" alt="">
                                    <div class="product-absolute-options">
                                        <span class="like-icon" title="wishlist"></span>
                                    </div>
                                </a>
                                <div class="product-text-dt">
                                    <h4 th:text="${product.name}"></h4>
                                    <div class="product-price" th:text="${product.price}"></div>
                                    <div class="qty-cart">
                                        <div class="quantity buttons_added">
                                            <input type="button" value="-" class="minus minus-btn">
                                            <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                                            <input type="button" value="+" class="plus plus-btn">
                                        </div>
                                        <span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
