<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link th:href='@{/homePage/vendor/unicons-2.0.1/css/unicons.css}' rel='stylesheet'>
    <link th:href="@{/homePage/css/style.css}" rel="stylesheet">
    <link th:href="@{/homePage/css/responsive.css}" rel="stylesheet">
    <link th:href="@{/homePage/css/night-mode.css}" rel="stylesheet">
    <link th:href="@{/homePage/css/step-wizard.css}" rel="stylesheet">
    <link th:href="@{/homePage/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/homePage/vendor/OwlCarousel/assets/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/homePage/vendor/OwlCarousel/assets/owl.theme.default.min.css}" rel="stylesheet">
    <link th:href="@{/homePage/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/homePage/vendor/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet">
</head>
<body>
<div class="sign-inup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="sign-form">
                    <div class="sign-inner">
                        <div class="sign-logo" id="logo">
                            <a href="../homePage/index.html"><img src="images/logo.svg" alt=""></a>
                            <a href="../homePage/index.html"><img class="logo-inverse" src="images/dark-logo.svg" alt=""></a>
                        </div>
                        <div class="form-dt">
                            <div class="form-inpts checout-address-step">
                                <form th:action="@{/reset-password}" method="post" id="resetPasswordForm">
                                    <input type="hidden" name="email" th:value="${email}">
                                    <input type="hidden" name="otp" th:value="${otp}">
                                    <div class="form-title"><h6>Reset Password</h6></div>
                                    <div class="form-group pos_rel mb-3">
                                        <input id="password" name="newPassword" type="password" placeholder="Enter New Password" class="form-control lgn_input" required="">
                                        <i class="uil uil-padlock lgn_icon"></i>
                                    </div>
                                    <div class="form-group pos_rel mb-3">
                                        <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm New Password" class="form-control lgn_input" required="">
                                        <i class="uil uil-padlock lgn_icon"></i>
                                    </div>
                                    <button class="login-btn hover-btn h_50" type="submit">Reset Password</button>
                                </form>
                            </div>
                            <div class="signup-link">
                                <p>Go Back - <a href="sign_in.html">Sign In Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-text text-center mt-4">
                    <i class="uil uil-copyright"></i>Copyright 2024 <b>Gambolthemes</b> . All rights reserved
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/homePage/js/jquery.min.js}"></script>
<script th:src="@{/homePage/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/homePage/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script th:src="@{/homePage/vendor/OwlCarousel/owl.carousel.js}"></script>
<script th:src="@{/homePage/js/jquery.countdown.min.js}"></script>
<script th:src="@{/homePage/js/custom.js}"></script>
<script th:src="@{/homePage/js/product.thumbnail.slider.js}"></script>
<script th:src="@{/homePage/js/offset_overlay.js}"></script>
<script th:src="@{/homePage/js/night-mode.js}"></script>
<script>
    // Simple password match validation
    document.getElementById('resetPasswordForm').onsubmit = function() {
        var pw = document.getElementById('password').value;
        var cpw = document.getElementById('confirmPassword').value;
        if (pw !== cpw) {
            alert('Passwords do not match!');
            return false;
        }
        if (pw.length < 8) {
            alert('Password must be at least 8 characters!');
            return false;
        }
        return true;
    };
</script>
</body>
</html> 