<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description-gambolthemes" content="">
  <meta name="author-gambolthemes" content="">
  <title>Gambo Supermarket Admin</title>
  <link th:href="@{/dashBoard/css/styles.css}" rel="stylesheet">
  <link th:href="@{/dashBoard/css/admin-style.css}" rel="stylesheet">
  <link th:href="@{/dashBoard/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/dashBoard/vendor/bootstrap/css/all.min.css}" rel="stylesheet">
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-light bg-clr" th:replace="/dashBoard/fragments/topbar :: topbar">
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav" th:replace="/dashBoard/fragments/sidebar :: sidebar">
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h2 class="mt-30 page-title">Categories</h2>
        <ol class="breadcrumb mb-30">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Categories</li>
        </ol>
        <div class="row justify-content-between">
          <div class="col-lg-12">
            <a th:href="@{/admin/categories/add}" class="add-btn hover-btn">Add New</a>
          </div>
          <div class="col-lg-5 col-md-6">
            <form class="bulk-section mt-30" th:action="@{/admin/categories/search}" method="get">
              <div class="search-by-name-input">
                <input type="text" class="form-control" placeholder="Search" id="categoryName"
                       name="keyword" th:value="${keyword}">
              </div>
              <div class="input-group">
                <div class="input-group-append">
                  <button class="status-btn hover-btn" type="submit">Search Category</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="card card-static-2 mt-30 mb-30">
              <div class="card-title-2">
                <h4>All Categories</h4>
              </div>
              <div class="card-body-table">
                <div class="table-responsive">
                  <table class="table ucp-table table-hover">
                    <thead>
                    <tr>
                      <th style="width:60px">ID</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${categories}">
                      <td th:text="${category.categoryId}">1</td>
                      <td th:text="${category.name}">Category Name</td>
                      <td th:text="${category.description}">Description here</td>
                      <td class="action-btns">
                        <a th:href="@{'/admin/categories/edit/' + ${category.categoryId}}"
                           class="edit-btn">
                          <i class="fas fa-edit"></i> Edit
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-footer mt-auto" th:replace="/dashBoard/fragments/footer :: footer">
    </footer>
  </div>
</div>
<script th:src="@{/dashBoard/js/jquery.min.js}"></script>
<script th:src="@{/dashBoard/js/category.js}"></script>
<script th:src="@{/dashBoard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dashBoard/js/scripts.js}"></script>

</body>

</html>