<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{dashBoard/fragments/header :: header}"></head>

<body class="sb-nav-fixed">

<div th:replace="~{dashBoard/fragments/topbar :: topbar}"></div>

<div id="layoutSidenav">
    <div th:replace="~{dashBoard/fragments/sidebar :: sidebar}"></div>

    <div id="layoutSidenav_content">
        <main>
            <div th:replace="~{dashBoard/fragments/contentMain :: contentMain}"></div>
        </main>

        <div th:replace="~{dashBoard/fragments/footer :: footer}"></div>
    </div>
</div>

<script th:src="@{/dashBoard-static/js/jquery.min.js}"></script>
<script th:src="@{/dashBoard-static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/dashBoard-static/vendor/chart/highcharts.js}"></script>
<script th:src="@{/dashBoard-static/vendor/chart/exporting.js}"></script>
<script th:src="@{/dashBoard-static/vendor/chart/export-data.js}"></script>
<script th:src="@{/dashBoard-static/vendor/chart/accessibility.js}"></script>

<script th:src="@{/dashBoard-static/js/scripts.js}"></script>

<script th:inline="javascript">

    const monthlyIncomeData = /*[[${monthlyIncomeData}]]*/ [];

    // Lấy danh sách các tháng
    const monthsData = /*[[${monthsData}]]*/ ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

</script>

<script th:src="@{/dashBoard-static/js/chart.js}"></script>

</body>
</html>